body {
	overflow: hidden;
	font-size: 20px;	/* defines 20px = 1em */
	background: #fffcdc; /* fallback for old browsers */
	xbackground: linear-gradient(90deg, #d9a7c7 30%, #fffcdc 50%, #d9a7c7 70%);
	background: radial-gradient(ellipse at center, #fffcdc 0%, #d9a7c7 30%, #d9a7c7 100%);
	background-size: 150%;
	background-position: 0 -200px;	/* x will be animated */
}
#ui {
	position: relative;
	height: 100vh;
}
#world {
	position: relative;
	height: calc(100vh - 7em);
	padding-top: 7em;
	xfont-size: 100%;
}
.room {
	border: 1em solid #ccc;
	border-radius: 0.5em;
    width: 15em;
    height: 15em;
    transform: scale(2.5) rotateX(60deg) rotateZ(45deg);
    transform-style: preserve-3d;
	perspective-origin: 50% 0%;
	perspective: 1000000px;
	position: absolute;
	left: 100%;
	transition: left 1.2s, opacity 0.8s;
	opacity: 0.2;
	z-index: 0;
}
.room.current {
	left: 0;
	opacity: 1;
	z-index: 1;
}
.room > * {
	position: absolute;
}
#floor {
	width: 100%;
	height: 100%;
	background: url(../img/room0_v2.png) no-repeat;
	background-size: 15em 15em;
}
.oldexit {
	background-color: #aaa;
	width: 1em;
	height: 1em;
	text-align: center;
}
.exit .top:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #aaa url(../img/sprites/spritesheet.png) -100px -100px;
	cursor: pointer;
}
.exit.west .top:after { transform: rotate(180deg); }
.exit.north .top:after { transform: rotate(90deg); }
.exit.south .top:after { transform: rotate(-90deg); }


/* ITEMS */
.cube,
.cube:after,
.cube:before {
    box-shadow: inset 0 0 0 .2em rgba(0,0,0,.1);
    content: '';
    height: 1em;
    width: 1em;
    position: absolute;
}
/* Top */
.cube {
    transform: translateZ(1em);
    transform-style: preserve-3d;
    transition: .25s;
}
/* Left face */
.cube:after {
    transform: rotateX(-90deg) translateY(1em);
    transform-origin: 100% 100%;
}
/* Right face */
.cube:before {
    transform: translateY(3em) rotateX(-90deg) rotateY(90deg) translateX(3em);
    transform-origin: 100% 0;
}

.back {
	pointer-events: none;
}
.cube .back {
	transform: rotateZ(180deg);
}




.roof,
.roof:after,
.roof2,
.roof2:after {
	content: '';
	width: 2em;
	height: 1.42em;
	position: absolute;
    transform-style: preserve-3d;
	transform-origin: 0 0 0;
}
.roof {
	transform:  rotateX(-45deg) translate3d(0,0,1.42em);
	background: indianred;
}
.roof:after {
	transform: rotateX(-90deg);
	background: crimson;
}
.roof2 {
	transform: translate3d(1em,0em,1em) rotateY(-45deg)  rotateZ(90deg);
	background: firebrick;
}
.roof2:after {
	transform: rotateX(-90deg);
	background: darkred;
}


.car {
	transform: scaleZ(0.75) scaleX(0.5) translateZ(1em);	/*TODO: don't scale this, it throws off em positioning */
}
.car:before {
	background: url(../img/camper.png) -1px -2px;
	background-size: 110% 120%;
}
.car, .car:after {
	background: #cdf;
}
.car {
	animation: 5s driveY linear infinite;
	animation-delay: 5s;
}
.car.back {
	animation: none;
}
@keyframes driveY {
	from {top: 15rem;}
	to {top: 0rem;}
}




.pyramid {
	position: absolute;
	transform-style: preserve-3d;
}
.pyramid .side {
	position: absolute;
	top: 0.5em;
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 1em solid #ccc;
	transform-origin: 50% 0%;
	transform-style: preserve-3d;
}
.pyramid .front {
	transform: translateZ(0.8em) rotateX(-90deg) rotateY(0deg) rotateX(-30deg);
	border-bottom-color: mediumaquamarine;
}
.pyramid .right {
	transform: translateZ(0.8em) rotateX(-90deg) rotateY(90deg) rotateX(-30deg);
	border-bottom-color: lightseagreen;
}
.pyramid .back {
	transform: translateZ(0.8em) rotateX(-90deg) rotateY(180deg) rotateX(-30deg);
	border-bottom-color: mediumaquamarine;
}
.pyramid .left {
	transform: translateZ(0.8em) rotateX(-90deg) rotateY(270deg) rotateX(-30deg);
	border-bottom-color: lightseagreen;
}



.door, .door > * {
	background: none;
	box-shadow: none;
}
.door > .front {
	background-image: url(../img/sprites/spritesheet.png);
	cursor: pointer;
}
.doorGreen 		{ background-position: -180px -150px; }
.doorGreen.open { background-position: -200px -150px; }
.doorRed 		{ background-position: -180px -170px; }
.doorRed.open 	{ background-position: -200px -170px; }
.doorBrown 		{ background-position: -180px -190px; }
.doorBrown.open { background-position: -200px -190px; }
